<%- include ('components/_head') %>
<%- include ('components/_header') %>



<% const samples =
[
  {
    title: "ポートフォリオ",
    category: "Web制作｜デザイン｜レスポンシブ｜アニメーション",
    href: "/samples/portfolio/",
    img: {
      src: "/img/samples/portfolio-eyecatch.png",
      alt: "Thumbnail of portfolio"
    },
  },
  {
    title: "ECサイト",
    category: "Web制作｜デザイン｜レスポンシブ|SPA",
    href: "/samples/ec/",
    img: {
      src: "/img/samples/ec-app.jpeg",
      alt: "Thumbnail of EC site"
    },
  },
  {
    title: "チャットボット",
    category: "Webアプリ開発｜チャット｜SPA",
    href: "/samples/chat/",
    img: {
      src: "/img/samples/chat.jpeg",
      alt: "Thumbnail of Chat Bot"
    },
  },

]
%>





<%# content %>
<main>
  <section>
    <div class="module-spacer--medium"></div>
  </section>

  <section class="c-section">
    <div class="c-section__area-title animated fadeInLeft">
      <div class="p-headline__sub animated fadeInUp fast delay-1s">
        <h2>Samples</h2>
        <p>制作事例</p>
        <ul class="u-text__breadcrumbs">
          <li><a href="/" target="_self">HOME</a><span>＞</span></li>
          <li><a href="/samples/" target="_self">SAMPLES</a><span></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="module-spacer--medium"></div>
  </section>

  <section class="c-section">
    <div class="c-section-wrapin-wide">
      <ul class="p-list__works">
        <% for (const sample of samples) { %>
          <li>
            <a class="u-text__line-none" href="<%= sample.href %>" >
              <p class="p-media__thumb">
                <img src="<%= sample.img.src %>" alt="<%= sample.img.alt %>" >
              </p>
              <div class="p-list__works-detail">
                <h3 class="title"><%= sample.title %></h3>
                <p class="category"><%= sample.category %></p>
                <span class="icon"></span>
              </div>
            </a>
          </li>
          <% } %>
      </ul>
    </div>
  </section>
</main>
<%# /content %>

<%- include ('components/_footer') %>